* {
    font-family: Arial;
}

html {
    height: 100%;
}

body {
    /*background-color: red;*/
    background: url(img/slight-blue-lozenge.png) repeat #009fff;
}

.wrapper {
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;


}

    .content {


        background-color: #e4faff;
        /*background-color: rgba(45, 154, 229, 0.1);*/
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /*padding-left: 100px;*/
        /*padding-right: 100px;*/
        padding-bottom: 150px;
        padding-top: 150px;
        border: 10px solid #2d9ae5;
        width: 60%;
        margin-top: 100px;
        border-radius: 25px;


    }

        .progressBar-wrapper {
            width: 90%;
            border: 5px dashed #2d9ae5;
            /*padding: 5px;*/
            height: 1rem;
            /*border-radius 5px;*/
            border-left: none;
            border-right: none;
        }

            .progressBar--true {
                /*padding: 5px;*/
                background-color: #2d9ae5;
                width: 0%;
                height: 100%;
            }

            .progressBar--false {
                /*padding: 5px;*/
                background-color: #2d9ae5;
                width: 0%;
                height: 100%;
            }


        .content__title {
            font-size: 30px;
            color: #2d9ae5;
            font-weight: bold;
            border: 8px solid #2d9ae5;
            border-right: 8px solid #2d9ae5;
            border-top: 8px dashed #2d9ae5;
            border-bottom: 8px dashed #2d9ae5;
            border-radius: 5px;
            padding: 10px;
            margin-top: 25px;
            margin-bottom: 100px;
        }

        .content__buttons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            /*flex-direction: column-reverse;*/
            align-items: center;
        }

            .button {
                /*background-color: #f2f2f2;*/
                border: 5px dashed #2d9ae5;
                border-radius: 5px;
                margin: 10px 0 10px 0;
                padding: 10px;
                color: #2d9ae5;
                font-weight: bold;
                transition: background-color 500ms;
                background-color: #e4faff;
            }

                .button:hover {
                    color: #fff;
                    background-color: #2d9ae5;
                    transition: background-color 500ms, color 1000ms;
                }

                .button--hide {
                    display: none;
                }

                .button--true {
                    background-color: rgba(0, 255, 0, 0.3);
                }

                .button--false {
                    background-color: rgba(255, 0, 0, 0.3);
                }

                /*.button--begin:hover .button-hide {*/
                    /*display: block;*/
                /*}*/
